/* Colors */
$project-bordeaux: #9c2124;
$project-light-gray: #f1f1f1;

$red : #9b2124;
$blue : #0492FD;
$black : #333333;
$white : #FAFAFA;
$gray  : #666666;

/* Sizes */
$navbar-height: 56px;